{% extends 'playlists/navbar.html' %}
{% load staticfiles %}

{% block content %}


      <!-- Displays all playlists -->
        <div class="col-md-4"></div>
        <div class="col-md-4">
            <p><a href="{% url 'playlist_add' %}">Add Playlist</a></p>
            <p>All Playlists</p>
            {% for playlist in playlists %}
            <p>
                <a href="{{ playlist.get_absolute_url }}">
                  {{ playlist.name }}
                </a>
            </p>
            {% endfor %}
        </div>
        <div class="col-md-4"></div>

{% endblock %}