{% extends 'playlists/navbar.html' %}
{% load staticfiles %}

{% block content %}


      <!-- Main component for a primary marketing message or call to action -->
        <div class="col-md-4"></div>
        <div class="col-md-4">
            {% if song.published_date %}
                <div>{{ song.uri }}</div>
                <div>{{ song.name }}</div>
                <div>{{ song.published_date }}</div>
            {% endif %}
        </div>
        <div class="col-md-4"></div>

{% endblock %}